<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-title>
			Favoritos
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-slides [options]="sliderOpts" *ngIf="dataLocalService.noticias.length === 0">
		<ion-slide>
			<div>
				<ion-icon class="icon" slot="only-icon" name="star-outline"></ion-icon><br />
				<ion-label>No hay favoritos</ion-label>
			</div>
		</ion-slide>
	</ion-slides>

	<app-noticias
		[noticias]="dataLocalService.noticias"
		[enFavoritos]="true"
		*ngIf="dataLocalService.noticias.length > 0"
	></app-noticias>
</ion-content>
